# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Virtual Environment
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local development
instance/
.webassets-cache

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Production
*.pyc
*.pyo
*.pyd
.Python